{% load static %} 
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
        <title>{% block title %}project-h{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/8461ef5dbf.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/home-style.css'%}">
    </head>
    <body id="top">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="ph-header">
            <a href="{% url 'home' %}">
                <div class="ph-logo ph-hover">
                    ph
                </div>
            </a>
            <nav class="home-nav text-shadow">
                {% comment %} <div class="home-nav-label">
                    <a id="desktop-nav" class="ph-hover" href="{% url 'cv' %}">Project</a>
                    <a href="{% url 'cv' %}"><i id="mobile-nav" class="fa-regular fa-file-code ph-hover"></i></a>
                </div>
                <div id="desktop-nav">|</div> {% endcomment %}
                <div class="home-nav-label">
                    <a id="desktop-nav" class="ph-hover" href="{% url 'cv' %}">CV</a>
                    <a href="{% url 'cv' %}"><i id="mobile-nav" class="ph-hover fa-regular fa-file-lines"></i></a>
                </div>
                <div id="desktop-nav">|</div>
                <div class="home-nav-label">
                    <a id="desktop-nav" class="ph-hover" href="{% url 'passgen' %}">Password</a>
                    <a href="{% url 'passgen' %}"><i id="mobile-nav" class="ph-hover fa-solid fa-star-of-life"></i></a>
                </div>
                <div id="desktop-nav">|</div>
                <label class="theme-toggle-label" for="theme-toggle">
                    <input type="checkbox" id="theme-toggle" hidden/>
                    <div class="theme-toggle-circle"><i class="fa-solid fa-circle-half-stroke"></i></div>
                </label>
            </nav>
        </header>


        <main>
            {% block content %}
                <div class="welcome-body">
                    <div class="ph-welcome">project-h</div>
                    <div class="ph-subs welcome-desc">
                        <a class="ph-hover" href="{% url 'cv' %}">CV</a><br>
                        <a class="ph-hover" href="{% url 'passgen' %}">Password Generator</a><br>
                    </div>
                </div>
            {% endblock %}
            <div id="backToTop" class="ph-top"><a href="#top" class="ph-hover"><i class="fa-regular fa-circle-up"></i></a></div>
        </main>

        <footer class="ph-footer">
            &copy; 2025 project-h
        </footer>
        
        <script src="{% static 'js/theme-toggle.js' %}"></script>
        {% block script %} {% endblock %}
    </body>
</html>