@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Pompiere&display=swap');
@import url('fonts.css');

/*
Primary: Buttons, links, highlights.
Secondary: Hover states, less important CTAs.
Neutral: Base background & text for legibility.
Accent: Success states, active tags, or subtle emphasis.
Borders/shadow: Subtle outlines and elevations.
*/

/* Default Light Mode Variables */
:root {
  --button-color: #2C5465;
  --hover-color: #5F7D8B;
  --bg-color: #D3D9D4;
  --text-color: #212A31;
  --warning-color: #B65C2C;
  --text-shadow-light: rgba(33, 42, 49, 0.5);
}

/* Dark Mode Overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --button-color: #4A90A4;
    --hover-color: #A3B9C9;
    --bg-color: #212A31;
    --text-color: #D3D9D4;
    --warning-color: #D98E48;
    --text-shadow-dark: rgba(211, 217, 212, 0.5);
  }
}

/* Default Light Theme */
html.light {
    --button-color: #2C5465;
    --hover-color: #5F7D8B;
    --bg-color: #D3D9D4;
    --text-color: #212A31;
    --warning-color: #B65C2C;
    --text-shadow: 2px 2px 4px var(--text-shadow-light);
    --box-shadow: 1px 4px 6px 2px var(--text-shadow-light);
    --text-shadow-color: var(--text-shadow-light);
    --text-shadow-invert: 2px 2px 4px var(--text-shadow-dark);
}

/* Auto Dark Theme based on OS */
html.dark {
    --button-color: #4A90A4;
    --hover-color: #A3B9C9;
    --bg-color: #212A31;
    --text-color: #D3D9D4;
    --warning-color: #D98E48;
    /* --text-shadow: 2px 2px 4px var(--text-shadow-dark); */
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(255, 255, 255, 0.25);
    /* --box-shadow: 1px 4px 6px 2px var(--text-shadow-dark); */
    --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05);
    --text-shadow-color: var(--text-shadow-dark);
    --text-shadow-invert: 2px 2px 4px var(--text-shadow-light);
}

html {
    scroll-behavior: smooth;;
}

/* Apply variables globally */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Peignot;
    margin: 5rem 0 0 0;
    padding: 0;
}

.ph-button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0.5rem;
    margin: 1rem;
    background-color: var(--button-color);
    color: var(--bg-color);
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 7rem;
    font-size: 1rem;
    /* float: right; */
    /* width: 100%; */
}

.ph-button:hover {
    color: var(--button-color);
    font-weight: bold;
    background-color: var(--hover-color);
}

.ph-border {
    border: 1px solid var(--text-color);
    border-radius: 0.2rem;
}

.ph-card {
    /* background-color: var(--bg-color, #fff); */
    border-radius: 10px;
    /* padding: 1.5rem; */
    box-shadow: var(--box-shadow);
    /* transition: box-shadow 0.3s ease, transform 0.2s ease; */
}

.ph-link {
    color: var(--button-color);
}

.ph-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    color: var(--text-color);
    margin: auto 0.5rem;
    font: bold 1.2rem Gotu;
    width: 100%;
}

.ph-label {
    display: inline-block;
    padding: 0.4rem;
    color: var(--text-color);
    margin: auto 0.5rem;
}

.ph-warning {
    display: inline-block;
    padding: 0.4rem;
    margin: auto 0.5rem;
    color: var(--warning-color);
}

.ph-field {
    border: 0.05rem solid var(--text-color);
    border-radius: 5px;
    padding: 0.1rem 0.3rem 0 0.3rem;
    background-color: var(--bg-color);
    font: 1rem Gotu;
    color: var(--text-color);
}

.ph-form {
    /* display: flex; */
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.ph-hover {
    transition: text-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.ph-hover:hover {
    font-weight: bold;
    color: var(--hover-color);
    border-color: var(--hover-color);
    text-shadow: 0 0 5px var(--text-shadow), 0 0 10px var(--text-shadow), 0 0 15px var(--text-shadow);
}

.ph-circle {
    display: flex;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 0;
    aspect-ratio: 1 / 1;
    /* border: 3px solid var(--text-color); */
}

.ph-line-10 {
    height: 0.05rem;
    width: 5%;
    background-color: var(--text-color);
    margin: auto 0 auto 0;
}

.ph-line {
    height: 0.05rem;
    width: 100%;
    background-color: var(--text-color);
    margin: auto 0 auto 0;
}

.text-shadow {
    text-shadow: var(--text-shadow);
}

.box-shadow {
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.ph-logo {
    display: flex;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--text-color);
    font-family: Peignot;
    text-shadow: var(--text-shadow);
    cursor: pointer;
}

.ph-top {
    display: none;
    position: fixed;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--text-color);
    font-family: Peignot;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 999;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--button-color);
}

/* Default: horizontal layout (desktop) */
.ph-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: var(--bg-color);
}

.home-nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;;
}

.home-nav a {
    color: var(--text-color);
}

#mobile-nav {
    display: none;
}

.home-body {
    font-family: Gotu;
    font-size: 1rem;
    width: 80vw;
    margin: auto;
    flex: 1;
}

.cv-body {
    font-family: Gotu;
    font-size: 1rem;
    width: 80vw;
    margin: auto;
    flex: 1;
}

/* Toggle Theme Button */
.theme-toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0.5rem;
}

.theme-toggle-circle {
    width: 32px;
    height: 32px;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-shadow: var(--text-shadow-invert);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: background-color 0.8s, color 0.8s, box-shadow 0.8s;
}

.theme-toggle-circle:hover {
    box-shadow: 0 0 45px 38px var(--text-color);
    transition: background-color 0.8s ease-out, color 0.8s ease-out, box-shadow 0.8s ease-out;
}

.para-1 {
    font-family: Peignot;
    /* font-size: 1.2rem; */
}

.para-2 {
    font-family: Gotu;
    /* font-size: 1.2rem; */
}

.para-3 {
    font-family: Asap;
    /* font-size: 1.2rem; */
}

.para-4 {
    font-family: Playfair;
    /* font-size: 1.2rem; */
}

.para-5 {
    font-family: SourceSerif;
    /* font-size: 1.2rem; */
}

.ph-footer {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.cv-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0.5rem;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    /* margin-top: -2rem; */
}

.cv-name {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width:100%;
    font-size: 1.6rem;
    font-weight: bold;
    word-break: keep-all;
}

.cv-personal {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cv-profile {
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* border-top: 1px solid var(--text-color); */
    width: 100%;
    /* padding-left: 0.5rem; */
    margin-bottom: 0;
}

.cv-title {
    font-weight: bold;
    font-size: 1rem;
}

.cv-qlf-title {
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

.ph-checkbox {
    /* display: inline-block; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: auto 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.ph-checkbox:checked {
    background-color: var(--bg-color);
    border-color: var(--text-color);
}

.ph-checkbox:checked::after {
    content: "✓";
    color: var(--warning-color);
    font-size: 1.5rem;
    position: absolute;
    /* left: 10px; */
    top: -10px;
}

.copy-tooltip {
    visibility: hidden;
    color: var(--warning-color);
    /* text-align: center; */
    padding: 0.4rem;
    font-size: bold 1.2rem Golu;
    margin-left: 8px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.9s;
}

.copy-tooltip.show {
  visibility: visible;
  opacity: 1;
}

.fa-copy {
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.9s;
}


/* Mobile View: vertical layout with nav on the left */
@media screen and (max-width: 768px) {

    body {
        margin: 0;
    }

    .ph-header {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start; /* align children to left */
        width: 60px;
        justify-content: center;
        align-items: center;
    }

    .home-nav {
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        width: 60px;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-body {
        margin-left: 60px !important;
        padding: 1rem;
        /*width: 90vw; Optional: ensures no horizontal scroll */
        box-sizing: border-box;
        word-break: break-word;
        margin-right: 30px;
        width: auto;
    }

    .cv-body {
        margin-left: 60px !important;
        padding: 1rem;
        /*width: 90vw;  Optional: ensures no horizontal scroll */
        box-sizing: border-box;
        word-break: break-word;
    }

    .cv-personal {
        width: 100%;
    }

    .cv-profile {
        width: 100%;
        border-top: 1px solid var(--text-color);
        border-left: none;
    }

    .cv-detail {
        height: 100%;
    }

    .ph-field {
        margin-left: 1rem;
    }

    .theme-toggle-circle:hover {
        box-shadow: none;
    }
}